.table-container {
  width: 100%;
  overflow-x: auto;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 20px;
}
.table-content table {
  width: 100%;
  min-width: unset;
  border-collapse: collapse;
  table-layout: fixed; /* para que as colunas respeitem os widths */
}
table {
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  text-align: center;
}
.table-header-container {
  background: linear-gradient(to top, #5e96bb, var(--azul));
  border-radius: 10px 10px 0 0;
}
.table-header {
  width: 100%;
  padding-right: 17px;
}
.table-header table {
  border-radius: 10px 10px 0 0;
}
.table-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 700px;
  min-width: 996px;
  transition: max-height 0.3s ease;
}
.table-content.extend {
  max-height: 550px;
}
th {
  padding: 20px;
  background: linear-gradient(to top, #5e96bb, var(--azul));
  overflow: hidden;
  color: white;
  font-size: 20px;
}
th,
td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90px;
  word-break: break-word;
}
.col-descricao {
  width: 300px;
}
.col-id {
  width: 100px;
}
.col-cliente {
  width: 150px;
}
.col-titulo {
  width: 150px;
  max-width: 150px;
}
.col-criacao {
  width: 130px;
}
.col-situacao {
  width: 150px;
}
.col-prioridade {
  width: 150px;
}
.col-conclusao {
  width: 160px;
}
.col-categoria {
  width: 140px;
}
.col-c th,
tr {
  height: 80px;
  font-weight: 600;
}
tr {
  transition: border-radius 0.5s ease, box-shadow, 0.5s ease;
}
td {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 0;
  cursor: pointer;
  padding: 10px;
}
tr:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
tr:hover td {
  border-color: transparent;
}
td:nth-child(3) {
  font-size: 12px;
}
td:nth-child(4) {
  text-align: left;
  font-size: 14px;
  max-height: 50px;
  overflow: hidden;
}
td:nth-child(6) {
  font-size: 16px;
  padding: 0;
}

.descricao-limitada {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
  line-clamp: 2;
  box-orient: vertical;
}
@media (min-width: 767px) and (max-width: 1024px) {
  .table-content.extend {
    max-height: 450px;
  }
  th.col-conclusao {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
  }
  tr {
    height: 20px;
    font-weight: 600;
  }
  th {
    font-size: 13px;
  }
  td:nth-child(1),
  td:nth-child(2) {
    font-size: 11px;
  }
  td:nth-child(3) {
    font-size: 10px;
  }
  td:nth-child(4) {
    text-align: left;
    font-size: 10px;
    max-height: 50px;
    overflow: hidden;
  }
  td:nth-child(5),
  td:nth-child(9) {
    font-size: 12px;
  }
  td:nth-child(6) {
    font-size: 12px;
    padding: 0;
  }
  td:nth-child(7),
  td:nth-child(8) {
    font-size: 12px;
  }
  td:nth-child(9) {
    text-overflow: ellipsis;
  }
  th.col-titulo,
  td.col-titulo {
    max-width: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  th.col-descricao,
  td.col-descricao {
    max-width: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media (max-width: 766px) {
  .table-content table {
    min-width: unset;
    width: 100%;
  }

  .col-descricao,
  .col-titulo,
  .col-prioridade,
  .col-categoria,
  .col-cliente,
  .col-situacao,
  .col-criacao,
  .col-conclusao,
  .col-id {
    width: 20px !important;
    max-width: unset;

  }

  td, th {
    font-size: 10px;
    padding: 5px;
  }
  .table-content.extend {
    max-height: 100%;
  }
  tr {
    height: 20px;
    font-weight: 600;
  }
  th {
    font-size: 13px;
  }
  td{
    font-size: clamp(.4rem, 1.5vw, 100rem) !important;
  }
  th.col-titulo,
  td.col-titulo {
    max-width: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  th.col-descricao,
  td.col-descricao {
    max-width: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
