.header-container {
  height: 90px;
  width: 100vw;
  background: url(../../../public/assets/images/4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 1%;
  display: flex;
  align-items: center;
  position: relative;
}
.header-content {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-btn {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  width: 18%;
  border-radius: 0 100px 0 0;
  height: 100%;
  background-color: white;
}
.logo-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}
.list-icon {
  font-size: 20px;
}
.logo {
  width: 70px;
  cursor: pointer;
}
.search {
  display: flex;
  align-items: center;
  position: relative;
}
.dropbox-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  width: 200px;
  padding: 0 20px 0 20px;
  border-radius: 30px;
  position: absolute;
  border: 1px solid white;
  background: linear-gradient(to top, #5e96bb, var(--azul));
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
}
i {
  display: flex;
  align-items: center;
}
.search-bar {
  width: 550px;
  height: 45px;
  border-radius: 30px;
  border: none;
  outline: none;
  padding-left: 210px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
}
.search-icon {
  font-size: 20px;
  position: absolute;
  right: 3%;
  color: #3f4c55;
}
.user-content {
  display: flex;
  align-items: center;
  width: 18%;
  border-radius: 100px 0 0 0;
  height: 100%;
  background-color: white;
}
.user-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}
.header-icon {
  font-size: 30px;
  align-items: center;
  display: flex;
  cursor: pointer;
  color: #3f4c55;
}
.user-icon {
  width: 50px;
}
.search-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 64%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.082);
}
