.header-container {
  height: 90px;
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  justify-content: center;
}
.header-content {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-btn {
  position: relative;
  display: flex;
  align-items: left;
  gap: 20px;
  cursor: pointer;
  width: fit-content;
  height: 100%;
  max-width: 700px;
  min-width: 200px;
}
.logo-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: max-content;
}
.list-icon {
  font-size: 20px;
}
.logo-img-container {
  display: flex;
  align-items: center;
}
.logo {
  width: 200px;
  cursor: pointer;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
.search {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 600px;
  min-width: 100px;
}
i {
  display: flex;
  align-items: center;
}
.search-bar {
  width: 800px;
  max-width: 400px;
  min-width: 50px;
  height: 45px;
  border-radius: 30px;
  border: none;
  outline: none;
  padding-left: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
}
.search-icon {
  font-size: 20px;
  color: white;
}
.user-content {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100%;
}
.user-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  width: fit-content;
}
.header-icon-container {
  background: linear-gradient(to top, #5e96bb, var(--azul));
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  border-radius: 50px;
}
.header-icon {
  font-size: 25px;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.25));
  align-items: center;
  display: flex;
  cursor: pointer;
  color: white;
}
.user-icon {
  width: 70px;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 64%;
  left: 50%;
  transform: translate(-50%);
}
.search-icon-container {
  background: linear-gradient(to top, #5e96bb, var(--azul));
  border-radius: 50%;
  position: absolute;
  right: 1%;
  padding: 10px;
}
