.sidebar-container {
  height: 100vh;
  width: 25vw;          /* <- Agora é responsivo */
  min-width: 250px;     /* <- Nunca menor que 200px */
  max-width: 350px;  
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  transform: translateX(-100%);
  box-shadow: 4px 0 7px rgba(0, 0, 0, 0.08);
  transition: transform 0.5s ease;
  z-index: 5;
}
.sidebar-container.show {
  transform: translateX(0);
  opacity: 1;
}
.sidebar-header {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  justify-content: space-between;
}
.sidebar-logo {
  display: flex;
  align-items: center;
}
.sidebar-header img {
  width: 50px;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.25));
}
.sidebar-header-data {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  text-align: end;
}
.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px;
}
.sidebar-nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.nav-title {
  padding: 10px 0;
  font-size: 22px;
  font-weight: 600;
}
.sidebar-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}
.sidebar-options.show {
  opacity: 1;
  max-height: 200px;
  pointer-events: all;
}
.sidebar-options li {
  font-size: 18px;
  padding-left: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: padding-left 0.2s ease, color 0.2s ease;
}

.sidebar-options li:hover {
  padding-left: 20px;
  color: var(--azul);
}
.option-container {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.option-container i {
  font-size: 20px;
}
.invert-icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
