.filtrosAplicados-container {
  display: flex;
  gap: 20px;
  width: 100%;
}
.filtroAplicado {
  display: flex;
  gap: 10px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background: linear-gradient(to top, #5e96bb, var(--azul));
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.filtroAplicado i {
  font-size: 10px;
  cursor: pointer;
}
